*{
    margin: 0;
    padding: 0;
    text-align: center;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background-color: #000000;
    border-radius: 50%;
}

.choice img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}

.score{
    font-size: 2rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
margin: 3rem;
}

#msg{
    font-size: 2rem;
    background-color: #000000;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    color: #fff;
}

@media (min-width: 300px) and (max-width: 500px) {
    .game{
        transform: scale(0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }

    h1{
        border-radius: 1rem;
        font-size: 1.75rem;
    }

    .choice{
        height: 130px;
        width: 130px;
    }

    .choice img {
        height: 120px;
        width: 120px;
    }

    .score{
        font-size: 1.5rem;
    }

    #user-score, #comp-score {
        font-size: 2rem;
    }

    #msg{
        font-size: 0.7rem;
    }
}